{% extends "default_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
{% endblock %}
{% block nav %}
<li class="nav-item">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mymodal">modal teste</button>
</li>
{% endblock %}
{% block main %}
<div class="row">
  <div class="col-9">
    {{ title }}{% if current_user.is_authenticated %}, {{ current_user.nome }}{% endif %}
  </div> <!-- col-9 -->
</div> <!-- row -->
<div class="row">
  <div class="col-9">Legenda: </div>
</div> <!-- row -->
<div class="row">
  <div class="col primary">Cadeira ocupada</div>
  <div class="col success">Cadeira Vazia</div>
  <div class="col warning">Mesa</div>
  <div class="col secondary">Corredor (vazio)</div>
  <div class="col dark">Corredor (intersecção)</div>
  <div class="col danger">Posição de mesa</div>
<!--  <div class="col active">Active</div><-->
<!--  <div class="col info">Info</div>-->
<!--  <div class="col light">Light</div>-->
</div> <!-- row -->
<!--<div class="row">-->
<!--  <div class="col-12">-->
<!--    <div class="accordion" id="accordion-estoque">-->
<!--    {# for estoque in dados #}-->
<!--      <div class="card estoque-{# estoque['desc'].lower() #}">-->
<!--        <div class="card-header" id="heading-{# estoque['desc'].lower() #}">-->
<!--          <ul class="nav nav-tabs card-header-tabs">-->
<!--            <li class="nav-item active"><a role="button" class="nav-link active" data-toggle="collapse" data-target="#collapse-{# estoque['desc'].lower() #}" aria-expanded="false" aria-controls="collapse-{# estoque['desc'].lower() #}">{# estoque['desc'] #}</a></li>-->
<!--          </ul>-->
<!--        </div> <!-- card-header -->-->
<!--        <div id="collapse-{# estoque['desc'].lower() #}" class="collapse" aria-labelledby="heading-{# estoque['desc'].lower() #}" data-parent="#accordion-estoque">-->
<!--          <div class="card-body">-->
<!--            <table class="table table-responsive table-striped table-hover table-sm">-->
<!--              <thead class="thead-light">-->
<!--                <tr>-->
<!--                  <!-- TODO html escapes -->-->
<!--                  <th>Data</th>-->
<!--                  <th>Insumo</th>-->
<!--                  <th>Quantidade</th>-->
<!--                  <th>Responsável</th>-->
<!--                  <th><span class="badge">Fabricação <span class="badge badge-pill badge-dark">novo</span></span></th>-->
<!--                  <th><span class="badge">Validade <span class="badge badge-pill badge-dark">novo</span></span></th>-->
<!--                </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              {# for insumo in estoque['insumos'] #}-->
<!--                <tr>-->
<!--                  <td>{# insumo['data_estoque']|data_estoque #}</td>-->
<!--                  <td>{# insumo['desc'] #}</td>-->
<!--                  <td>{# insumo['quantidade'] #} {# insumo['medida'] #}</td>-->
<!--                  <td>{# insumo['responsavel'] #}</td>-->
<!--                  <td>{# insumo['data_fabricacao']|data_estoque #}</td>-->
<!--                  <td>{# insumo['data_validade']|data_estoque #}</td>-->
<!--                </tr>-->
<!--              {# endfor #} <!-- endfor estoque_insumos -->-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div> <!-- card-body -->-->
<!--        </div> <!-- collapse -->-->
<!--      </div> <!-- card estoque -->-->
<!--    {# endfor #} <!-- endfor estoques -->-->
<!--    </div> <!-- accordion -->-->
<!--  </div> <!-- col-9 -->-->
<!--</div> <!-- row -->-->






<h3>{{ title }}{% if current_user.is_authenticated %}, {{ current_user.nome }}{% endif %}</h3>
<table class="table table-borderless table-responsive">
<tbody>
<tr>
  <th>Legenda: </th>
  <td class="table-primary">Cadeira ocupada</td>
  <td class="table-success">Cadeira Vazia</td>
  <td class="table-warning">Mesa</td>
  <td class="table-secondary">Corredor (vazio)</td>
  <td class="table-dark">Corredor (intersecção)</td>
  <td class="table-danger">Posição de mesa</td>
<!--  <td class="table-active">Active</td><-->
<!--  <td class="table-info">Info</td>-->
<!--  <td class="table-light">Light</td>-->
</tbody>
</table>
<hr>
<div class="goworking-mesas container-fluid">
<div class="row card-deck text-center">
  <div class="col-3 card box-shadow">
    <div class="card-header">
      <h4 class="font-weight-normal">Raw</h4>
    </div> <!-- card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Amor <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled">
        <li>Mussum Ipsum</li>
        <li>cacilds vidis</li>
        <li>litro abertis</li>
        <li>sou euzis!</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Expandir</button>
    </div> <!-- card-body -->
  </div> <!-- card box-shadow -->
  <div class="col-3 card box-shadow">
    <div class="card-header">
      <h4 class="font-weight-normal">Raw 2</h4>
    </div> <!-- card box-shadow -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Gratidão <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled">
        <li>Mussum Ipsum</li>
        <li>cacilds vidis</li>
        <li>litro abertis</li>
        <li>sou euzis!</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-primary">Abrir</button>
    </div> <!-- card body -->
  </div> <!-- card box-shadow -->
  <div class="col-3 card box-shadow">
    <div class="card-header">
      <h4 class="font-weight-normal">Raw 3</h4>
    </div> <!-- card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Abund&acirc;ncia <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled">
        <li>Mussum Ipsum</li>
        <li>cacilds vidis</li>
        <li>litro abertis</li>
        <li>sou euzis!</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-primary">Ver</button>
    </div> <!-- card-body -->
  </div> <!-- card box-shadow -->
</div> <!-- row -->
<div class="row card-deck text-center">
  <div class="col-6 card box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Raw 4</h4>
    </div> <!-- card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Amor <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Mussum Ipsum</li>
        <li>cacilds vidis</li>
        <li>litro abertis</li>
        <li>sou euzis!</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Expandir</button>
    </div> <!-- card-body -->
  </div> <!-- card box-shadow -->
  <div class="col-3 card box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Raw 5</h4>
    </div> <!-- card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Abund&acirc;ncia <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Mussum Ipsum</li>
        <li>cacilds vidis</li>
        <li>litro abertis</li>
        <li>sou euzis!</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-primary">Ver</button>
    </div> <!-- card-body -->
  </div> <!-- card box-shadow -->
</div> <!-- row -->
</div>
<hr>
<table class="goworking table table-borderless table-responsive">
<tbody>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
  <!-- Fileira 0 - Jardim -->
  <tr>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">-3</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">-2</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">-1</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">0</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
  </tr>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
  <!-- Fileira 1 - Mesas 1 e 2 -->
  <tr>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">1</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">2</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 1 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">3</th>
          <td class="table-success"><a target="_self" href="{{ url_for('goworking.cadeira', mesa = '01', cadeira = '01-A') }}">01-A</a></td>
          <th></th>
          <td class="table-success">01-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
        </tr>
        <tr>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
        </tr>
        <tr>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
          <th class="table-warning">01</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">01-C</td>
          <th></th>
          <td class="table-success">01-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 2 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">4</th>
          <td class="table-success">02-A</td>
          <th></th>
          <td class="table-success">02-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
        </tr>
        <tr>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
        </tr>
        <tr>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
          <th class="table-warning">02</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">02-C</td>
          <th></th>
          <td class="table-success">02-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
  </tr>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
  <!-- Fileira 2 - Mesas 3 e 4 -->
  <tr>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">5</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">6</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 3 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">7</th>
          <td class="table-success">03-A</td>
          <th></th>
          <td class="table-success">03-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
        </tr>
        <tr>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
        </tr>
        <tr>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
          <th class="table-warning">03</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">03-C</td>
          <th></th>
          <td class="table-success">03-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 4 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">8</th>
          <td class="table-success">04-A</td>
          <th></th>
          <td class="table-success">04-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
        </tr>
        <tr>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
        </tr>
        <tr>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
          <th class="table-warning">04</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">04-C</td>
          <th></th>
          <td class="table-success">04-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
  </tr>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
  <!-- Fileira 3 - Mesas 5 e 6 -->
  <tr>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">9</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">10</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 5 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">11</th>
          <td class="table-success">05-A</td>
          <th></th>
          <td class="table-success">05-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
        </tr>
        <tr>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
        </tr>
        <tr>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
          <th class="table-warning">05</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">05-C</td>
          <th></th>
          <td class="table-success">05-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 6 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">12</th>
          <td class="table-success">06-A</td>
          <th></th>
          <td class="table-success">06-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
        </tr>
        <tr>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
        </tr>
        <tr>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
          <th class="table-warning">06</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">06-C</td>
          <th></th>
          <td class="table-success">06-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
  </tr>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
  <!-- Fileira 4 - Mesas 7 e 8 -->
  <tr>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">13</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">14</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 7 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">15</th>
          <td class="table-success">07-A</td>
          <th></th>
          <td class="table-success">07-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
        </tr>
        <tr>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
        </tr>
        <tr>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
          <th class="table-warning">07</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">07-C</td>
          <th></th>
          <td class="table-success">07-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 8 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">16</th>
          <td class="table-success">08-A</td>
          <th></th>
          <td class="table-success">08-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
        </tr>
        <tr>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
        </tr>
        <tr>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
          <th class="table-warning">08</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">08-C</td>
          <th></th>
          <td class="table-success">08-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
  </tr>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
  <!-- Fileira 5 - Mesas 9 e 10 -->
  <tr>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">17</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">18</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 9 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">19</th>
          <td class="table-success">09-A</td>
          <th></th>
          <td class="table-success">09-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
        </tr>
        <tr>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
        </tr>
        <tr>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
          <th class="table-warning">09</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">09-C</td>
          <th></th>
          <td class="table-success">09-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 10 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">20</th>
          <td class="table-success">10-A</td>
          <th></th>
          <td class="table-success">10-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
        </tr>
        <tr>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
        </tr>
        <tr>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
          <th class="table-warning">10</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">10-C</td>
          <th></th>
          <td class="table-success">10-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
  </tr>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
  <!-- Fileira 6 - Mesas 11 e 12 -->
  <tr>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">21</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Nenhuma mesa -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">22</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 11 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">23</th>
          <td class="table-success">11-A</td>
          <th></th>
          <td class="table-success">11-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
        </tr>
        <tr>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
        </tr>
        <tr>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
          <th class="table-warning">11</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">11-C</td>
          <th></th>
          <td class="table-success">11-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 12 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">24</th>
          <td class="table-success">12-A</td>
          <th></th>
          <td class="table-success">12-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
        </tr>
        <tr>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
        </tr>
        <tr>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
          <th class="table-warning">12</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">12-C</td>
          <th></th>
          <td class="table-success">12-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
  </tr>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
  <!-- Fileira 7 - Mesas 17, 18, 13 e 14 -->
  <tr>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 17 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">25</th>
          <td class="table-success">17-A</td>
          <th></th>
          <td class="table-success">17-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
        </tr>
        <tr>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
        </tr>
        <tr>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
          <th class="table-warning">17</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">17-C</td>
          <th></th>
          <td class="table-success">17-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 18 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">26</th>
          <td class="table-success">18-A</td>
          <th></th>
          <td class="table-success">18-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
        </tr>
        <tr>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
        </tr>
        <tr>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
          <th class="table-warning">18</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">18-C</td>
          <th></th>
          <td class="table-success">18-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 13 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">27</th>
          <td class="table-success">13-A</td>
          <th></th>
          <td class="table-success">13-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
        </tr>
        <tr>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
        </tr>
        <tr>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
          <th class="table-warning">13</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">13-C</td>
          <th></th>
          <td class="table-success">13-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 14 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">28</th>
          <td class="table-success">14-A</td>
          <th></th>
          <td class="table-success">14-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
        </tr>
        <tr>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
        </tr>
        <tr>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
          <th class="table-warning">14</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">14-C</td>
          <th></th>
          <td class="table-success">14-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
  </tr>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
  <!-- Fileira 8 - Mesas 19, 20, 15 e 16 -->
  <tr>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 19 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">29</th>
          <td class="table-success">19-A</td>
          <th></th>
          <td class="table-success">19-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
        </tr>
        <tr>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
        </tr>
        <tr>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
          <th class="table-warning">19</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">19-C</td>
          <th></th>
          <td class="table-success">19-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 20 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">30</th>
          <td class="table-success">20-A</td>
          <th></th>
          <td class="table-success">20-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
        </tr>
        <tr>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
        </tr>
        <tr>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
          <th class="table-warning">20</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">20-C</td>
          <th></th>
          <td class="table-success">20-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 15 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">31</th>
          <td class="table-success">15-A</td>
          <th></th>
          <td class="table-success">15-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
        </tr>
        <tr>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">15</th>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
        </tr>
        <tr>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
          <th class="table-warning">&nbsp;</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">15-C</td>
          <th></th>
          <td class="table-success">15-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
    <th>
    <!-- Mesa 16 -->
    <table class="goworking table table-borderless table-responsive">
      <tbody>
        <tr>
          <th class="table-danger">32</th>
          <td class="table-success">16-A</td>
          <th></th>
          <td class="table-success">16-B</td>
          <th></th>
        </tr>
        <tr>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
        </tr>
        <tr>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
        </tr>
        <tr>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
          <th class="table-warning">16</th>
        </tr>
        <tr>
          <th></th>
          <td class="table-success">16-C</td>
          <th></th>
          <td class="table-success">16-D</td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </th>
    <th class="table-secondary"></th>
  </tr>
  <tr>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
    <th class="table-secondary"></th>
    <th class="table-dark"></th>
  </tr>
</tbody>
</table>
{% endblock %}
{% block javascript %}
{% endblock %}

