{% extends "default_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
{% endblock %}
{% block main %}
<center>
<div class="container-fluid">
<h1>{{ title }}</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  {{ form.csrf_token }}
  <div class="form-row">
    <div class="form-group col-12">
      {{ form.username.label }}
      {{ form.username(placeholder=form.username.description) }}
      {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      {{ form.password.label }}
      {{ form.password(placeholder=form.password.description) }}
      {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      {{ form.mr_robot() }} {{ form.mr_robot.label }}
      {% for error in form.mr_robot.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group col-12">
      {{ form.submit(class="btn btn-primary") }}
      {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>
  </div>
</form>
<!--
<hr>
<div class="row">
    <div class="col-12">Ainda n&atilde;o tem login&quest; <a class="btn btn-success btn-sm" role="button" href="{{ url_for('goworking.signup') }}">Registre</a>-se agora&excl;</div>
</div>
-->
</div>
</center>
{% endblock %}
{% block javascript %}
{% endblock %}

