{% extends "default_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
{% endblock %}
{% block main %}
<center>
<div class="container-fluid">
<h1>{{ title }}</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  {{ form.csrf_token }}
  <div class="form-row">
    <div class="form-group col-12">
      {{ form.username.label }}
      {{ form.username(placeholder=form.username.description) }}
      {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      {{ form.password.label }}
      {{ form.password(placeholder=form.password.description) }}
      {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      {{ form.confirm.label }}
      {{ form.confirm(placeholder=form.confirm.description) }}
      {% for error in form.confirm.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      {{ form.nome.label }}
      {{ form.nome(size=30, placeholder=form.nome.description) }}
      {% for error in form.nome.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
  </div>
<!--  TODO A Marta disse que vai contra nova cartilha de etiqueta de comunicação-->
<!--  <div class="form-row">-->
<!--    <div class="col-3">-->
<!--      <label>{{ form.pronome.label }}</label>-->
<!--    </div>-->
<!--    <div class="col-6">-->
<!--      <div class="row">-->
<!--      {# for subfield in form.pronome #}-->
<!--        <div class="col form-check">-->
<!--          {# subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") #}-->
<!--        </div>-->
<!--      {# endfor #}-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      {# for error in form.pronome.errors #}-->
<!--        <div class="alert alert-danger" role="alert">{{ error }}</div>-->
<!--      {# endfor #}-->
<!--    </div>-->
<!--  </div>-->
  <div class="form-row">
    <div class="form-group col-12">
      {{ form.mr_robot() }} {{ form.mr_robot.label }}
    </div>
    <div class="form-group col-12">
      {% for error in form.mr_robot.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </div>
</form>
<hr>
<div class="row">
  <div class="col-12">J&aacute; se registrou&quest; Fa&ccedil;a <a class="btn btn-success btn-sm" role="button" href="{{ url_for('goworking.login') }}">login</a> agora&excl;</div>
</div>
</div>
</center>
{% endblock %}
{% block javascript %}
{% endblock %}

